<button class="list-controls add-above"><i class="fa fa-caret-up"></i></button>
<button class="list-controls add-below"><i class="fa fa-caret-down"></i></button>
<button class="list-controls remove"><i class="fa fa-ban"></i></button>